
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 30px;
    color: #333333;
}

h1 {
    color: #167d8d;
    text-align: center;
}

h2 {
    text-align: center;
    color: #444444;
}

h3 {
    color: #167d8d;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    background-color: white;
    padding: 25px 45px;
    border-radius: 8px;
}

li {
    margin: 10px 0;
}
